<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
        #gis { width:80%; height:700px;}
    </style>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}">
    </script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    
            <div>
            {% leaflet_map "gis" %}
            </div>
    
    <footer class="footer">
    </footer>
{% comment %} <script type="text/javascript"> {% endcomment %}
    {% comment %} function our_layers(map,options){
        var points = new L.GeoJSON.AJAX("{% url 'data' %}",{
            onEachFeature: function(feature,layer){
                layer.bindPopup(feature.properties.name.toString());
            }

        });
        points.addTo(map);
        
    } {% endcomment %}


    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {
            var dataurl = '{% url "data" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data).addTo(map);
            });
        }

</script>

{% leaflet_map "gis" callback="window.our_layers" %}
</body>

</html>